! X colors.
*foreground:        #aba7a3
*background:        #010202
*.foreground:       #aba7a3
*.background:       #010202

! Colors 0-15.
*color0:   #87afd7
*color1:   #5fafff
*color2:   #5f87d7
*color3:   #5f87af
*color4:   #ffd7af
*color5:   #d7af87
*color6:   #af875f
*color7:   #0087d7
*color8:   #005faf
*color9:   #0000d7
*color10:  #e4e4e4
*color11:  #bcbcbc
*color12:  #5f5f5f
*color13:  #949494
*color14:  #262626
*color15:  #000000

!! XTERM settings
XTerm.vt100.locale: false
XTerm.vt100.utf8: true
XTerm*saveLines:   5000

!Fonts
XTerm*vt100*faceName: xft:ProFontIIx:size=12:antialias=false
xterm*vt100*geometry: 80x50

! VT Font Menu: Unreadable
xterm*faceSize1: 8
! VT font menu: Tiny
xterm*faceSize2: 10
! VT font menu: Medium
xterm*faceSize3: 12
! VT font menu: Large
xterm*faceSize4: 16
! VT font menu: Huge
xterm*faceSize5: 22

! Allow sixel graphics.
xterm*decTerminalID	:	vt340

! Enable copy/paste hotkeyes (mouse highlight = copy ,  shift+Insert = paste)
XTerm*selectToClipboard: true
! ## Select text ##
XTerm*highlightSelection: true
! Remove trailing spaces
XTerm*trimSelection: truee
! ## Keybindings ##
XTerm.vt100.translations: #override \n\
  Ctrl <Key> minus: smaller-vt-font() \n\
  Ctrl <Key> plus: larger-vt-font() \n\
  Ctrl <Key> 0: set-vt-font(d) \n\
  Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
  Ctrl Shift <Key>V: insert-selection(CLIPBOARD) \n\
  Shift <Btn1Up>: exec-formatted("xdg-open '%t'", PRIMARY) \n\
  <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0) \n\
  <Btn2Up>: insert-selection(PRIMARY)

! disable fullscreen hotkey alt+enter (hotkey conflicts with weechat, midnight commander ...etc)
XTerm*fullscreen: never
! enable alt key to work
XTerm*metaSendsEscape: true
! Fix the backspace key (for Emacs)
XTerm.vt100.backarrowKey: false
XTerm.ttyModes: erase ^?

! double-click to select whole URLs :D
! https://scarygliders.net/2011/12/01/customize-xterm-the-original-and-best-terminal/
XTerm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

!! Rofi Settings
rofi.color-enabled:	true
rofi.color-window:	#0047b3, #ffffff, #ffffff
!!                  unselected, unselected font color, middle, select, selected font color
rofi.color-normal:	#0047b3, #cccccc, #0047b3, #0066ff, #ffffff
rofi.color-active:	#002b37, #008ed4, #003643, #008ed4, #66c6ff
rofi.color-urgent:	#002b37, #da4281, #003643, #008ed4, #890661

rofi.fake-transparency:	true
rofi.lines:		3
rofi.bw:		0
rofi.opacity:		"10"
rofi.hide-scrollbar:	true
rofi.width:		30

!! XClock
XClock*strftime: 		%a %d %b %H:%M
XClock*padding:     	3
XClock*update:			1
XClock*chime:			true
XClock*render: 	    	true
XClock*digial:	    	false
XClock*foreground:	    #5F8787
XClock*majorColor:  	#c1c1c1
XClock*minorColor:      #5F8787
XClock*hourColor:   	#aaaaaa
XClock*minuteColor: 	#aaaaaa
XClock*secondColor:     #aaaaaa

!! Xload
XLoad*foreground: 			#c2c2b0
XLoad*label: 				i5(8) 4.2GHz
XLoad*update: 				5
XLoad*highlight: 			#98d1ce
XLoad*jumpscroll: 			1
XLoad*font: 				-artwiz-snap-normal-r-normal--10-100-75-75-p-90-iso10646-1
