/* *foreground: #00cc00 */
/* *foreground_bold: #a8a19f */
/* *cursor: #a8a19f */
/* *background: #1b1918 */

/* Luke Smith Color Scheme */
/* !! black */
/* *color0: #1b1918 */
/* *color8: #766e6b */
/* !! red */
/* *color1: #f22c40 */
/* *color9: #f22c40 */
/* !! green */
/* *color2: #5ab738 */
/* *color10: #5ab738 */
/* !! yellow */
/* *color3: #d5911a */
/* *color11: #d5911a */
/* !! blue */
/* *color4: #407ee7 */
/* *color12: #407ee7 */
/* !! magenta */
/* *color5: #6666ea */
/* *color13: #6666ea */
/* !! cyan */
/* *color6: #00ad9c */
/* *color14: #00ad9c */
/* !! white */
/* *color7: #a8a19f */
/* *color15: #f1efee */

! Black + DarkGrey
*color0:  rgb:00/00/00
*color8:  rgb:26/26/26
! DarkRed + Red
*color1:  rgb:d7/5f/00
*color9:  rgb:d7/87/5f
! DarkGreen + Green
*color2:  rgb:af/87/5f
*color10: rgb:d7/af/87
! DarkYellow + Yellow
*color3:  rgb:ff/d7/87
*color11: rgb:ff/d7/5f
! DarkBlue + Blue
*color4:  rgb:5f/87/af
*color12: rgb:87/af/d7
! DarkMagenta + Magenta
*color5:  rgb:87/5f/5f
*color13: rgb:af/87/af
!DarkCyan + Cyan
*color6:  rgb:ff/d7/af
*color14: rgb:ff/ff/d7
! LightGrey + White
*color7:  rgb:a8/a8/a8
*color15: rgb:ff/ff/ff
! FG/BG/Cursor
*foreground:  rgb:ff/af/5f
*background:  rgb:00/00/00
*cursorColor: rgb:d7/5f/00

!! URXVT Settings
/* URxvt.intensityStyles:	false */
/* URxvt.depth:		32 */
URxvt.font:         xft:FiraCode Nerd Font:style=Regular:pixelsize=16
URxvt.boldFont:     xft:FiraCode Nerd Font:style=Bold:pixelsize=16
URxvt.italicFont:   xft:FiraCode Nerd Font:style=Light:pixelsize=16
URxvt.scrollBar:	false
URxvt.cursorColor:	white
URxvt.perl-ext-common:	default,resize-font,matcher,keyboard-select

!! Copy and Paste
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.iso14755: false
URxvt.iso14755_52: false

!! Matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.matcher.rend.0: Uline Bold fg5

!! Resize
URxvt.keysym.Control-j: resize-font:smaller
URxvt.keysym.Control-k: resize-font:bigger
URxvt.keysym.Control-equal: resize-font:reset

!! Keyboard Select
URxvt.keysym.M-Escape: perl:keyboard-select:activate

!! Rofi Settings
rofi.color-enabled:	true
rofi.color-window:	#0047b3, #ffffff, #ffffff
!!                  unselected, unselected font color, middle, select, selected font color
rofi.color-normal:	#0047b3, #cccccc, #0047b3, #0066ff, #ffffff
rofi.color-active:	#002b37, #008ed4, #003643, #008ed4, #66c6ff
rofi.color-urgent:	#002b37, #da4281, #003643, #008ed4, #890661

rofi.fake-transparency:	true
rofi.lines:		3
rofi.bw:		0
rofi.opacity:		"10"
rofi.hide-scrollbar:	true
rofi.width:		30
